---
// -----------------------------------------------------------------------------
// Products.astro

// Lista de productos disponibles en el catálogo, cada uno con imagen, nombre y
// descripción corta. Se presenta en la landing para mostrar la oferta.

// -----------------------------------------------------------------------------

import Button from "../common/Button.astro";
import ProductCard from "../common/ProductCard.astro";

import imgProduct1 from "../../assets/images/productOVAv.png";
import imgProduct2 from "../../assets/images/productCOllagen.png";
import imgProduct3 from "../../assets/images/productOVA.png";

const products = [
  {
    label: "SUPLEMENTOS",
    image: imgProduct1,
    title: "OVA OVA ACTIVE X 250GR",
    description: "Ayuda a mejorar la firmeza y elasticidad de la piel, cabello y uñas.",
    price: "XX Bs.",
    href: "https://terbol.com.bo/#",
  },
  {
    label: "VITAMINAS",
    image: imgProduct2,
    title: "COLLAGEN CREAM",
    description: "Atenúa manchas y ayuda a lograr un tono más uniforme.",
    price: "XX Bs.",
    href: "https://terbol.com.bo/#",
  },
  {
    label: "SUPLEMENTOS",
    image: imgProduct3,
    title: "OVA OVA FLEX X 30 STICK",
    description: "Mantenimiento de los huesos en condiciones normales.",
    price: "XX Bs.",
    href: "https://terbol.com.bo/#",
  },
];
---

<section class="products section-container">
  <div class="container">
    <div class="top-label">NUESTROS PRODUCTOS</div>
    <div class="cards-container">
      {products.map((product) => (
        <ProductCard product={product} />
      ))}
    </div>
    <Button
      variant="terciary"
      size="sm"
      href="https://terbol.com.bo/#"
      target="_blank"
      rel="noopener noreferrer">VER CATALOGO</Button
    >
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .top-label {
    font-family: "Roboto Mono";
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    gap: 8px;
    color: var(--grey-300);
  }

  .cards-container {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: 1fr;
    }
  }
</style>
